
<div class="flex-container">

    <div class="align-item">
        <h1>EAT-DA-TACOS!</h1>
    </div>

    <div class="align-item picture">
            <img src="assets/images/taco-.png" alt="Taco Image">
    </div>

    <div class="align-item">
        <div class="align-row">
            <ul class="icon">
              {{#each taco}}
                  <li class="fork">
                    {{this.taco_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="1">
                      <button type="submit">EAT Taco!</button>
                    </form>
                  </li>
              {{/each}}
            </ul>
        </div>
    </div>

    <div class="align-item">
        <div>
            <h2>Create A Taco!</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                  <label for="ca">Taco Name:</label>
                  <input type="text" id="ta" name="taco_name">
                </div>
                <button type="submit">Add Taco</button>
            </form>
        </div>
    </div>
{{!-- end flex-container --}}
</div>