html,
body {
    height: 100%;
    background-color: #009688;
    font-family: 'Archivo', sans-serif;
}

header {
    text-align: center;
}

.flex-container {
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.align-item {
    width: 32%;
}

.align-item.eat {
    text-align: right;
}

ul {
    padding-left: 20px;
    list-style: none;
}

li {
    margin-bottom: 10px;
    font-size: 25px;
}

form {
    display: inline;
}

li:before {
    font-family: 'FontAwesome';
    content: '\f0f5';
    margin: 0 5px 0 -15px;
}

img {
    width: 20%;
}

.align-item.addTaco {
    text-align: center;
}

button {
    padding: 4% 8% 4% 8%;
    border-radius: 8px;
}

#addTaco {
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 59%;
}